<div class="users-padding">

  <!-- Generate user list if failed to get users on load or navigational button press -->
  <div class="row">
    <div class="col-md-12">
      <div class="text-center pb-3">
        <button class="btn btn-success" (click)="getList()">
          Get Users
        </button>
      </div>
    </div>
  </div>
  <!-- Display Results using user profile component -->
  <div class="row">
    <!-- use keyvalue as work around for http client results -->
    <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let user of users | keyvalue">
      <app-user-profile [user]="user.value"> </app-user-profile>
    </div>
  </div>

  <!-- Navigational footer -->
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" (click)="goBack()" ng-disabled="disbleBack">
        Back
      </button>
    </div>
    <div class="col text-center">Page {{ page }} out of {{ pages }}</div>
    <div class="col text-right">
      <button class="btn btn-primary" (click)="goForward()" ng-disabled="disableForward">
        Forward
      </button>
    </div>
  </div>
</div>
