<div class="contact-box center-version">
  <!-- Display user balance ribbon top right corner -->
  <div *ngIf="user.balance" class="ribbon"><span>{{ user.balance }}</span></div>
  <!-- This feature is usless now as scrapped from final release -->
  <a [routerLink]="['/user',user.id, {details:true}]">
    <!-- Display green circle if online and grey if offline -->
    <div *ngIf="user.isActive; else elseBlock" class="user-online"></div>
    <ng-template #elseBlock><div class="user-offline"></div></ng-template>
    <img
      alt="image"
      class="img-circle"
      src="{{ user.picture }}"
    />
    <!-- List User Details -->
    <h3 class="m-b-xs"><strong>{{ user.name }}</strong></h3>
    <div class="font-bold">Gender: {{user.gender}} | Age: {{user.age}} | Eye Colour: {{user.eyeColor}}</div>
    <p class="font-bold">Member Since: {{user.registered}}</p>
    <address class="m-t-md pb-2">
      <strong>{{user.company}} </strong>
      <br />
      {{user.address}}
      <br />
      Latitude and Longitude: {{user.latitude}} - {{user.longitude}}
      <br />
      <abbr title="Phone">P:</abbr> {{user.phone}}
      <abbr title="Email">E:</abbr> {{user.email}}
    </address>
    <p>
      {{user.about}}
    </p>
  </a>
</div>
